annotated-types
asgiref
certifi
charset-normalizer
colorama
Django
django-qr-code
gunicorn
idna
mercadopago
packaging
pillow
psycopg
pydantic
pydantic_core
pypng
python-dotenv
qrcode
requests
segno
sqlparse
typing_extensions
tzdata
urllib3
whitenoise
