
{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% with link=link sub_link=sub_link nome=funci.nome%}
    {% include 'includes/nav_gerenc.html' %}
{% endwith %}

  <div class="card border-0 shadow mb-4">
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-centered table-nowrap mb-0 rounded">
                  <thead class="thead-light">
                      <tr>
                          <th class="border-0 rounded-start">Nome 
                        </th>
                          <th class="border-0">Matrícula</th>
                          <th class="border-0">EStabelecimento</th>
                          <th class="border-0">Ação 1</th>
                          <th class="border-0 rounded-end">Ação 2</th>
                      </tr>
                  </thead>
                  <tbody>
                      <!-- Item -->
                      <form action="{%url 'update-funcionario' funci.id%}" method="post">
                        {%csrf_token%}
                            <td class="fw-bold d-flex align-items-center">
                                <svg class="icon icon-xxs text-gray-500 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd"></path></svg>
                                <input type="text" class="form-control" name="nome" value="{{funci.nome}}">
                                
                            </td>
                            <td>
                                <input type="text" class="form-control" name="matricula" value="{{funci.matricula}}">
                            </td>
                            
                            <td>

                                <select name="unidade" id="unidades" class="form-select mb-0">
                                    {% include 'includes/unidades.html'%}
                                </select>
                            </td>
                            
                            
                        <td class="text-success">
                            <div class="d-flex align-items-center">
                                <input type="submit" value="Salvar" id="save-button" class="btn btn-block btn-gray-800 mb-3" style="background-color:{{user.cor_logo}}; border:{{user.cor_logo}};">
                            </div>
                        </td>
                          <td class="text-dark">
                              <div class="d-flex align-items-center">
                                <button class="btn btn-gray-800 d-inline-flex align-items-center me-2 " onclick="window.location.href='{% url "list_funci"%}';" type="button">
                                    Cancelar
                                  </button>
                              </div>
                          </td>
                        </tr>
                    </form>
                    
                      
                  </tbody>
              </table>
          </div>
      </div>
  </div>

</div>

  
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
