<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {%if autenticado%}
        {% for funci in page_obj %}
            <p><a href="{% url 'funcionario_detail' funci.id%}">{{funci.nome}}</a></p>

        {%endfor%}
        </body>
    {%else%}
    <span>é preciso fazer login para acessar essa área:</span>
    <a href="{% url 'login' %}">Entrar</a>
    {%endif%}
</html>