<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h5>avalie este corno:</h5>
    {{funcionario.nome}}<br>
    {{funcionario.id}}

    <img src="{{funcionario.qrcode.url}}" id="imagemClicavel" alt="Clique para imprimir esta imagem">

<script>
document.getElementById("imagemClicavel").addEventListener("click", function() {
  var imagem = document.createElement('img');
  imagem.src = "{{funcionario.qrcode.url}}";
  imagem.style.display = "none"; // Escondendo a imagem adicionada ao DOM.
  document.body.appendChild(imagem);

  window.print();

  document.body.removeChild(imagem); // Removendo a imagem depois de imprimir.
});
</script>

</body>
</html>